body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: 27px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {height: 100vh;display: flex;flex-direction: column;}

.header {padding: 8px;background: #ccc;}
.header_profile_btn{border-radius: 50%;border:none;cursor: pointer;width: 30px;height: 30px;}
.header_nav{display: flex;  justify-content: flex-end;}
.nav_ref{color: rgba(0,0,0,0.87); text-decoration: none;}
.nav_ref:hover{text-decoration: underline;}
.nav_ul {display: flex;list-style: none;align-items: center;margin: 0;}

.nav_li:first-child{margin-left: 0;}
.nav_ul>li{margin-left: 15px;}
.nav_ul>li:last-child{border-radius: 50%;border: 4px solid transparent; transition: border-color 0.3s;width: 30px;height: 30px;}
.nav_ul>li:last-child:hover{border: 4px solid #aaa;}

.header_service_btn {width: 35px;height: 35px;
    display: flex;border-radius: 50%;padding: 0;align-items: center;justify-content: center;border: none;
    background-color: transparent;cursor: pointer;transition: background-color 0.3s;}
.header_service_btn:hover{background-color: #aaa;}

.dots_img { width: 24px; } 




