*{box-sizing: border-box;margin: 0;padding: 0;}
.wrapper{width: 100%;overflow: hidden;position: relative;display: flex;flex-direction: column;min-height: 100vh;}
.wrp800{max-width: 800px;margin: auto;}
h1,h2{margin: 0;padding: 0 0 20px 0;}
p{padding-bottom: 10px;}

body{font-family: sans-serif;background: #444;}
header{padding: 15px;}
.main{display: flex;flex-grow: 1;text-align: center;flex-direction: column;}

input{margin: 10px;}
label{color:#ccc}
.btn{padding: 10px;margin: 10px;cursor: pointer;}

.table{padding-top: 30px;}
table{width: 100%;}
tr,th,td{border:1px solid #ccc;}

.trash-bx{margin: 0 auto;border:1px solid #ccc;width: 50px;height: 50px;}









